.tickercontainer { /* the outer div with the black border */
	width: 100%; 
	margin: 0; 
	padding: 0;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	width: 100%;
}
ul.newsticker { /* that's your list */
	position: relative;
	left: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin:0;
	padding:0;
}
ul.newsticker li  p {
	white-space: nowrap;
	padding: 0;
	margin:0;

}