a, dl, dt, dd, b, body, em, ul, li, i, span, h1, h2, h3, h4, h5, h6, p, select, button, input, textarea {
    font-family: "Microsoft YaHei", "微软雅黑", '黑体', "Arial";
    outline: none;
    font-style: normal;
}

html, body {
    height: 100%;
    line-height: 1;
}
body {
    min-width: inherit;
    background-color: #f5f5f5;
}
body.ShowAll {
    display: block !important;
}
.ClearBoth {
    clear: both;
}
.Warning {
    position: absolute;
    width: 100%;
    height: 30px;
    font-size: 12px;
    color: #333333;
    line-height: 30px;
    background-color: #FEF2F2;
    border-radius: 3px;
    top: 23px;
}

.Warning i {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-image: url("images/icon008.png");
    margin:0 5px;
}
.BtnStyle1 {
    position: relative;
    width: 100%;
    height: 45px;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    background-color: #FF9E00;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}

.BtnStyle1 a {
    display: block;
    width: 100%;
    height: 100%;
}

.BtnStyle1.Active:hover {
    background-color: #ff8a00;
}

.BtnStyle1 a {
    opacity: .5;
    color: #fff;
    text-decoration: none;
}

.BtnStyle1.Active a {
    opacity: 1;
}
.lRMain {
    position: relative;
    height: auto;
}
.lRMain h2 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}
.lRMain p {
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 10px;
}
.lRMain p span {
    color: #FFA800;
}
.lRMain p a {
    color: #FFA800;
    text-decoration: none;
}
.lRMain p a:hover {
    text-decoration: underline;
}
.lRMain .InputBox {
    position: relative;
    height: 40px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
}
.lRMain .InputBox.W160 {
    width: 160px;
}
.lRMain .InputBox.W170 {
    width: 170px;
}
.lRMain .InputBox input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 14px;
    color: #666666;
    text-indent: 55px;
}
.lRMain .InputBox i {
    position: absolute;
    width: 45px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #DDDDDD;
}
.lRMain .InputBox.Active {
    border: 1px solid #FFA800;
    box-shadow: 0 0 5px rgba(255, 162, 0, 50);
}
.lRMain .InputBox.Warnings {
    border: 1px solid #FF6050;
    box-shadow: 0 0 5px rgba(255, 96, 80, 50);
}
.lRMain .Prompt {
    font-size: 10px;
    color: #CFCFCF;
    text-align: right;
    margin-bottom: 10px;
}
.lRMain .Prompt a {
    color: #999999;
    text-decoration: none;
}
.lRMain .Prompt a:hover {
    text-decoration: underline;
}
.lRMain .SelectBox {
    position: relative;
    height: 40px;
    border: 1px solid #DDDDDD;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}
.lRMain .SelectMain {
    width: inherit;
    padding: 0 30px 0 55px;
}
.lRMain .SelectBox i {
    position: absolute;
    width: 45px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #DDDDDD;
}
.lRMain .SelectBox b {
    position: absolute;
    width: 12px;
    height: 7px;
    top: 0;
    right: 10px;
    background-image: url("images/icon007.png");
    top: 50%;
    margin-top: -3.5px;
}
.lRMain .SelectBox .Word {
    font-size: 14px;
    line-height: 40px;
    color: #666666;
}
.lRMain .SelectBox .Option {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: none;
    top: 40px;
    left: inherit;
    z-index: 2;
}
.lRMain .SelectBox .Option ul {
    border: 1px solid #DDDDDD;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
}
.lRMain .SelectBox .Option ul li {
    clear: both;
    overflow: hidden;
    padding: 0 10px;
}
.lRMain .SelectBox .Option ul li:hover {
    background-color: #f8f8f8;
}
.Live800Header {
    width: 100%;
    height: 65px;
    background-color: #fff;
    background-image: url("images/Logo.png");
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 110px;
}
.Live800Bg {
    padding: 15px;
    background-color: #f5f5f5;
}
.Live800Main {
    padding: 30px;
    background-color: #fff;
}
.Live800Nav ul li {
    width: 33.3333%;
    height: 45px;
    float: left;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}
.Live800Nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #333333;
    text-decoration: none;
}
.Live800Nav ul li.Active {
    background-color: #fff;
}

